<!DOCTYPE html>
<html>
    <head>
        <title>Exam App</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <h1>
                    CharlesWebsite.<span id="span1">com</span>
                </h1>
            </div>
            <div id="icon">
                <img src="../template/logo.png" alt="logo" id="logo">
            </div>
            <hr id="1">
            <div id="menubar">
                <ul>
                    <li>| <a href="/" id="col1">Mainsite</a> |</li>
                    <li>| <a href="/" id="col2">Service</a> |</li>
                    <li>| <a href="/"  id="col3">Gallery</a> |</li>
                    <li>| <a href="/"  id="col4">Resources</a> |</li>
                    <li>| <a href="/"  id="col5">Help & Support</a> |</li>
                    <li>| <a href="/"  id="col6">Contacts</a> |</li>
                </ul>
            </div>
            <hr id="2">
            <div id="img">
                <img src="../template/banner_img.png" alt="baner" id="img1">
            </div>
            <div id="tag">
                <label id="ncol1">Search Our Site</label>
            </div>
            <div id="navigation">
                <input type="text" id="search">
                <input type="submit" id="submit" value=">">
            </div>
            <div id="notearea">
                <div id="note1"><label>Note Area</label></div>
                <hr id="3">
                <p>Edit the global sidebar.htm to upgrade this text. You can include information, note and links in this text area.</p>
                <a href="/" id="link1">Sample link...</a>
            </div>
            <div id="notearea1">
                <p id="p1">Either vertical or horizental scroll driections.</p>

                <p id="p2">Costomizable pause before and links in this text area.</p>

                <p id="p3">Scroll modes: auto and on demand. When scoller is over hovered over.</p>
            </div>
            <div id="image">
                <img src="../template/content_img1.png" alt="img" id="img2">
            </div>
            <div id="notearea2">
                <div id="note"><label>Note Area</label></div>
                <hr id="3">
                <p>Edit the global sidebar.htm to upgrade this text. You can include information, note and links in this text area.</p>
                <a href="/" id="link">Sample link...</a>
            </div>
            <div id="main_contents">
                <div id="first">
                    <h1>Allwebco Template</h1>
                    <p>This template includes these three picture gallary in 2 versions, both with and with out Paypal order forms. THe logo is a global plain text logo you can edit in a notepad. A <span>graphic logo</span> .jpg option is included so you can use your own graphic logo images. All menus, sidebars and the footer and and headers are plain text global files so you can update all your pages and at one time. These includes search is a site powered by Google and does not required to any special to be set up in your hosting account. <span>View this page with a graphic Logo.</span></p>
                </div>
                <div id="space">

                </div>
                <div id="second">
                    <h1>Colors and Formatting</h1>
                    <p>This template includes six color themes. Colors are easily, globally changed for the entire template by edditing the plain text colortheams. css with your choice. Instantly change the colors of your website. Templates font size and colors, page buttons and menu coloros and font are all set in global CSS files for easy formatting updates. You can also set up your own customs color themes. If you are creating your own themes some graphics editting will be required.</p>
                </div>
                <div id="space1">

                </div>
                <div id="third">
                    <h1>Features</h1>
                    <p>Plain text global menus, gobal sidebar area, header footers are setup for easy website updates. The drop menu can be setup 3 deep for larger websites. A simple multi-level menu file is included with the downloads. Or any menu items can be set as a plain button with no drop mennu. The sidebars search can be turned off, setup as a google search or 3, options are included for a site search. the sidebar scroll is displaying 3 basic Hmtl pages and is updated like any other template page. The right sidebar can be swithched off if not required. <span>View step by step instruction</span>
                </div>
                <div id="avertisement">
                    <div id="contents1">
                        <label id="lb">Note Area</label>
                        <div id="detail1">
                            <p>Plain text global menus, gobal sidebar area, header footers are setup for easy website updates.</p>
                        </div>
                    </div>
                    <div id="contents2">
                        <img src="../template/content_img2.png" alt="contyent" id="contents3">
                    </div>
                    <div id="contents4">
                        <label id="lb1">Note Area</label>
                        <div id="detail2">
                            <p>you can also turn off this area sidebar-right.js and have no right side bar showing in this area.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>